body {
  background-image: url("img/background.jpg");
  background-repeat: repeat;
}

p.title{
  background-color: #808080;
  width: 250px;
  height: 190px ;
  padding: 5px 15px;
  border: 2px solid black;
font: 200 70px/0.9 'Merienda One', Helvetica, sans-serif;
  color: magenta;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.3);

}

/* Add a magenta color to the top navigation */
.topnav{
  background-color: #ff00ff;
  overflow: hidden;
  border-radius: 25px / 60px;
  padding: 10px;

}

/*Style the links inside the navigation bar*/
.topnav a {
  font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 30px;
}

/*Change the color of links on hover*/
.topnav a:hover{
  background-color: #19970;
  color: black;
}

.boxed{
  background-color:#ffffff;
  text-align:left;
  vertical-align: middle;
  padding:20px 47px;"
}
